@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=PT+Sans:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url(https://cf.shopee.com.br/file/f7b8fa0fdac12d71247fd87177e6d1ca);
    box-sizing: border-box;
  
}
header{
    background-color: #1b1919;
    height: 6rem;
    color: #fff;
    box-shadow: 0 10px 5px #2e2b2b;
}


footer{
    height: 10rem;
    background-color: #201f1f;
    background: linear-gradient(180deg, #1f1c1c 40%, #272726 100%) ;  
}

main{
  display: flex;
  flex-direction: column;
  text-align: center;
}


.titulo{
    color: #6c56b4;
    background-color: #1f1c1c;
    border: solid transparent;
    border-radius: 1000px;
    text-transform: uppercase;
    font-size: 2.5em;
   
  }
  
  
.titulo2{
  color: #6c56b4;
  background-color: #1f1c1c;
  border: solid transparent;
  border-radius: 1000px;
  text-transform: uppercase;
  font-size: 1.8em;
 
}



.p1{
    color: #4c31a5;
    background-color: #1f1c1c;
    border: solid transparent;
    border-radius: 20px;
    font-size: 1.8em;
    margin: 5em;
  }

